{% if include.type %}
{% case include.type %}
{% when 'script' %}
<script>
    function toggleCollapsible(id){
        let el = document.getElementById(id);
        let toggle = document.getElementById(`${id}-toggle`);
        if(el.classList.contains("collapsible-collapsed")){
            el.classList.remove("collapsible-collapsed");
            el.classList.add("collapsible-expanded");
            toggle.innerText = "Collapse -";
        }
        else{
            el.classList.add("collapsible-collapsed");
            el.classList.remove("collapsible-expanded");
            toggle.innerText = "Expand +";
        }
    }
</script>
{% when 'start' %}
<div class="collapsible collapsible-collapsed" id="{{include.id}}">
    {{ include.content | markdownify }}
</div>
<a class="collapsible-toggle" id="{{include.id}}-toggle" onclick="toggleCollapsible('{{include.id}}');return false;" href="#{{include.id}}">
    Expand +
</a>
{% endcase %}
{% endif %}