---
layout: page
---

{{content}}

<ul class="link-collection">
  {% for post in site.posts %}
  <li class="link preview" {% if post.image %}style="background-image:url({{post.image}});"
  {% endif %}>
    <a href="{{ post.url | relative_url }}" {% if post.color %}style="background-image:linear-gradient(to top, #{{post.color}} -50%, transparent);" {% endif %}>
      <div class="link-title">
        {{ post.title | escape }}
      </div>
      <div class="link-description">
        <p><strong>{{ post.date | date_to_string }}</strong> : {{ post.description | escape }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>