<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}

    {% if page.color %}
    <style>
    body{
      background-color: #{{page.color}};
    }
    </style>
    {% endif %}

    {% if page.image %}
    <style>
    html{
      background-image: url({{page.image}});
    }
    body{
      background-color: transparent;
    }
    </style>
    {% endif %}
  </head>

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
