---
layout: default
title: Home
---
<style>
  main{
    flex: 0;
    padding: 4.5rem 1rem;
  }
  .intro h1{
    color: #aaa;
    margin: 0 auto;
    border: none;
    line-height: 1.25;
    padding: 0.125em 0;
  }
  .intro h1 em{
    color: #fff;
    font-style: normal;
  }
  .links{
    padding: 0;
    list-style: none;
    line-height: 2;
  }
  .links li{
    display: inline-block;
    padding-right: 1rem;
  }
  .links a{
    border: none;
  }
  .links a:hover{
    text-decoration: none;
  }
  .links a:hover svg{
    fill: #fff;
  }
  .links svg{
    height: 1.5rem;
    fill: #ccc;
    vertical-align: top;
  }
  .links .icon-text{
    font-size: 0;
  }
  .links .text-button{
    padding-right: 1rem;
    text-transform: uppercase;
  }
  .links .text-button::after{
    content: '>';
    display: inline-block;
    transform: scaleX(0.5);
    font-weight: bold;
  }
</style>

<article class="wide">
  <div class="intro">
    <h1>Hi, I'm <em>Joey</em>.</h1>

    <p>Student / Software Developer / Transport Enthusiast</p>

    <ul class="links">
      <li>
        <a href="https://twitter.com/joeyfjj" class="text-button">
          Twitter
        </a>
      </li>
      <li>
        <a href="{% link about.md %}" class="text-button">
          About
        </a>
      </li>
      <li>
        <a href="{% link now.md %}" class="text-button">
          Now
        </a>
      </li>
    </ul>

    <p>
      {{ content }}
    </p>

  </div>
</article>