---
layout: page
---

{{content}}

<ul class="link-collection">
  {% assign sorted = site.projects | sort: 'year' | reverse %}
  {% for post in sorted %}
  <li class="link preview" {% if post.image %}style="background-image:url({{post.image}});"
  {% endif %}>
    <a href="{{ post.url | relative_url }}" {% if post.color %}style="background-image:linear-gradient(to top, #{{post.color}} -50%, transparent);" {% endif %}>
      <div class="link-title">
        {{ post.title | escape }}
      </div>
      <div class="link-description">
        <p>{{ post.subtitle | escape }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>